@font-face {
    font-family: 'norsebold';
    src: url('./fonts/norse-bold.woff2') format('woff2'),
        url('./fonts/norse-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.image-sidebar {
    background-image: url(./img/background.jpg);
    background-position: center;
    width: 600px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    color: white;
}

a {
    color: white;
}

.content-container {
    flex: 2;

}

.container {
    display: flex;
    height: 100vh;
}

.logo {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50%;
    font-family: 'norsebold', Courier, monospace;
    font-size: 6rem;
}

.credit {
    font-size: medium;
}