@font-face {
    font-family: 'norsebold';
    src: url('./fonts/norse-bold.woff2') format('woff2'),
        url('./fonts/norse-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.image-sidebar {
    background-image: url(./img/background.jpg);
    background-position: center;
    width: 600px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    color: white;
}

a {
    color: white;
}

.content-container {
    flex: 2;

}

.container {
    display: flex;
    height: 100vh;
}

.logo {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50%;
    font-family: 'norsebold', Courier, monospace;
    font-size: 6rem;
}

.credit {
    font-size: medium;
}

form {
    font-weight: bold;
    color: rgb(62, 61, 61);
}

header,
form>*,
section>p {
    padding: 40px;
}

form>button {
    padding: 0;
    margin-left: 40px;
    margin-top: 50px;
    height: 40px;
    width: 200px;
    background-color: #D5983F;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: medium;
}

header>* {
    max-width: 1000px;
    font-weight: bold;
    font-size: 2rem;
}

h1 {
    margin-bottom: 0;
}

header>p {
    margin-top: 0px;
}

input,
textarea,
select,
button {
    width: 150px;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: 100%;
}

fieldset {
    padding-top: 0;
    border: 0;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1),
        /* Top shadow */
        0 5px 10px rgba(0, 0, 0, 0.1);
    /* Bottom shadow */
}

.form-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.form-row>p {
    display: flex;
    flex-direction: column;
}

input {
    width: clamp(15rem, 18vw, 25rem);
    border-radius: 5px;
    border: 1px solid #E5E7EB;
}

input:focus {
    border: 1px solid blue;
    outline: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

fieldset>div:last-child input:invalid {
    border: 1px solid red;
}

section>p {
    padding-top: 20px;
}

section>p>a {
    text-decoration: none;
    color: #D5983F;
}